<!DOCTYPE html>
<html>
  <head>
    <title>Entertainment Booking Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, .form, input, select, textarea, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 32px;
      color: #fff;
      z-index: 2;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      .form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #a82877; 
      }
      .banner {
      position: relative;
      height: 210px;
      background-image: url("/uploads/media/default/0001/02/8ca4045044162379597641472fa0bb5489ba418f.jpeg");      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.5); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, textarea, select {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #a82877;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #a82877;
      color: #a82877;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      input[type="time"]::-webkit-inner-spin-button {
      margin: 2px 22px 0 0;
      }
      input[type=radio], input.other {
      display: none;
      }
      label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 10px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      label.radio:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      #radio_5:checked ~ input.other {
      display: block;
      }
      input[type=radio]:checked + label.radio:before {
      border: 2px solid #a82877;
      background: #a82877;
      }
      label.radio:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 5px;
      width: 7px;
      height: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #a82877;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #bf1e81;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>
  </head>
  <body >
    <div class="testbox">
      <div class = "form">
        <div class="banner">
          <h1>Intervention Form</h1>
        </div>
        <div class="item" id="customer_selection_div">
          <p>Customer Name: </p>
          <select id="customer_selection" onchange="customerDropdownChanged()">
            <option value = "None">None</option>
          </select>
        </div>
        <div class="item" id="building_selection_div" hidden>
          <p>Building Administrator Name: </p>
          <select id = "building_selection" onchange="buildingDropdownChanged()">
            <option value="None" >None</option>
          </select>
        </div>
        <div class="item" id="battery_selection_div" hidden>
          <p>Battery ID: </p>
          <select id = "battery_selection" onchange="batteryDropdownChanged()">
            <option value="None" >None</option>
          </select>
        </div>
        <div class="item" id="column_selection_div" hidden>
          <p>Column ID: </p>
          <select id = "column_selection" onchange="columnDropdownChanged()">
            <option value="None" >None</option>
          </select>
        </div>
        <div class="item" id="elevator_selection_div" hidden>
          <p>Elevator ID: </p>
          <select id = "elevator_selection">
            <option value="None">None</option>
          </select>
        </div>
        <div class="item">
          <p>Employee ID: </p>
          <select id = "employee_selection">
            <option value="None">None</option>
          </select>
        </div>
        <div class="item">
          <p>Description of Event</p>
          <textarea rows="3" id="report" ></textarea>
        </div>
        <div class="btn-block">
          <button type="submit" id = "submit-btn" onclick="submitBtnClicked()">SUBMIT</button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript"> 
    allCustomers = []
    allEmployees = []
    customer_dropdown = document.getElementById("customer_selection")
    building_dropdown = document.getElementById("building_selection")
    battery_dropdown = document.getElementById("battery_selection")
    column_dropdown = document.getElementById("column_selection")
    elevator_dropdown = document.getElementById("elevator_selection")
    employee_dropdown = document.getElementById("employee_selection")
    customer_dropdown_div = document.getElementById("customer_selection_div")
    building_dropdown_div = document.getElementById("building_selection_div")
    battery_dropdown_div = document.getElementById("battery_selection_div")
    column_dropdown_div = document.getElementById("column_selection_div")
    elevator_dropdown_div = document.getElementById("elevator_selection_div")
    report_text = document.getElementById("report")

    function removeOptions(selectElement) {
      var i, L = selectElement.options.length - 1;
      for(i = L; i > 0; i--) {
          selectElement.remove(i);
      }
    }
    document.addEventListener('DOMContentLoaded', function() {
        <% Customer.all.each do |customer| %>
            allCustomers.push(<%= raw(customer.to_json) %>)
        <% end %>
        select = document.getElementById("customer_selection")
        for(var i = 0; i < allCustomers.length; i++){
            var cus = allCustomers[i]
            var el = document.createElement("option");
            el.text = cus.company_name
            el.value = cus.id
            select.appendChild(el)
        }
        <% Employee.all.each do |employee| %>
          allEmployees.push(<%= raw(employee.to_json) %>)
        <% end %>
        select2 = document.getElementById("employee_selection")
        for(var i = 0; i < allCustomers.length; i++){
            var emp = allEmployees[i]
            var el = document.createElement("option");
            el.text = emp.first_name
            el.value = emp.id
            select2.appendChild(el)
        }
    }, false);
    function customerDropdownChanged(){
      if(customer_dropdown.value != "None"){
        removeOptions(building_dropdown)
        removeOptions(battery_dropdown)
        removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
        building_dropdown_div.removeAttribute('hidden')
        $.ajax({
                type: "GET",
                url: "/intervention_form/customer/" + customer_dropdown.value,
                dataType: "json",
                success: function(data){
                    console.log(data)
                    var jsonData = JSON.parse(JSON.stringify(data))
                    for(var i = 0; i < jsonData.length; i++){
                      var el = document.createElement("option")
                      el.text = jsonData[i].name
                      el.value = jsonData[i].id
                      building_dropdown.appendChild(el)
                    }
                }  
            });
      }else{
        building_dropdown_div.setAttribute("hidden", true)
        battery_dropdown_div.setAttribute("hidden", true)
        column_dropdown_div.setAttribute("hidden", true)
        elevator_dropdown_div.setAttribute("hidden", true)
        removeOptions(building_dropdown)
        removeOptions(battery_dropdown)
        removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
      }
        
    }
    function buildingDropdownChanged(){

      if(building_dropdown.value != "None"){
        removeOptions(battery_dropdown)
        removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
        battery_dropdown_div.removeAttribute('hidden')
        $.ajax({
                type: "GET",
                url: "/intervention_form/building/" + building_dropdown.value,
                dataType: "json",
                success: function(data){
                    console.log(data)
                    var jsonData = JSON.parse(JSON.stringify(data))
                    for(var i = 0; i < jsonData.length; i++){
                      var el = document.createElement("option")
                      el.text = jsonData[i].id
                      el.value = jsonData[i].id
                      battery_dropdown.appendChild(el)
                    }
                }  
            });
      } else if(building_dropdown.value == "None"){
        battery_dropdown_div.setAttribute("hidden", true)
        column_dropdown_div.setAttribute("hidden", true)
        elevator_dropdown_div.setAttribute("hidden", true)
        removeOptions(battery_dropdown)
        removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
        
      }
    }
    function batteryDropdownChanged(){
      removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
      if(battery_dropdown.value != "None"){
        column_dropdown_div.removeAttribute('hidden')
        $.ajax({
                type: "GET",
                url: "/intervention_form/battery/" + battery_dropdown.value,
                dataType: "json",
                success: function(data){
                    console.log(data)
                    var jsonData = JSON.parse(JSON.stringify(data))
                    for(var i = 0; i < jsonData.length; i++){
                      var el = document.createElement("option")
                      el.text = jsonData[i].id
                      el.value = jsonData[i].id
                      column_dropdown.appendChild(el)
                    }
                }  
            });
      }else{
        column_dropdown_div.setAttribute("hidden", true)
        elevator_dropdown_div.setAttribute("hidden", true)
        removeOptions(column_dropdown)
        removeOptions(elevator_dropdown)
      }
    }
    function columnDropdownChanged(){
      if(column_dropdown.value != "None"){
        removeOptions(elevator_dropdown)
        elevator_dropdown_div.removeAttribute('hidden')
        $.ajax({
                type: "GET",
                url: "/intervention_form/column/" + column_dropdown.value,
                dataType: "json",
                success: function(data){
                    console.log(data)
                    var jsonData = JSON.parse(JSON.stringify(data))
                    for(var i = 0; i < jsonData.length; i++){
                      var el = document.createElement("option")
                      el.text = jsonData[i].id
                      el.value = jsonData[i].id
                      elevator_dropdown.appendChild(el)
                    }
                }  
            });
      }else{
        elevator_dropdown_div.setAttribute("hidden", true)
        removeOptions(elevator_dropdown)
      }
      
    }
    function submitBtnClicked(){
      if(customer_dropdown.value == "None" || building_dropdown.value == "None" || battery_dropdown.value == "None"){
        alert('Fill all necessary fields!')
        return
      }
      customer_value = customer_dropdown.value
      building_value = building_dropdown.value
      battery_value = null
      column_value = null
      elevator_value = null
      employee_value = null
      report = null
      if(battery_dropdown.value == "None"){
        battery_value = null

      }else{
        battery_value = battery_dropdown.value
      }
      if(column_dropdown.value == "None"){
        column_value = null
      }else{
        column_value = column_dropdown.value
      }
      if(battery_dropdown.value == "None"){
        battery_value = null
      }else{
        battery_value = battery_dropdown.value
      }
      if(employee_dropdown.value == "None"){
        employee_value = null
      }else{
        employee_value = employee_dropdown.value
      }
      if(report_text.value == ""){
        report = null
      }else{
        report = report_text.value
      }
      if(elevator_dropdown.value == "None"){
        elevator_value = null
      }else{
        elevator_value = elevator_dropdown.value        
      }
      $.ajax({
        type: "POST",// GET in place of POST
        url: "/intervention_form/submit",
        data : {employee_id: employee_value, customer_id: customer_value, building_id: building_value, battery_id: battery_value, column_id: column_value, elevator_id: elevator_value, report: report },
        dataType: "json",
        success: function (result) {
            //do somthing here
            window.alert("Intervention created successfully");
        },
        error: function (){
            window.alert("Intervention creation failed");
        }
      });
    }
    
</script>
</html>  